################################
#  Source of you project
################################
/app/*
!/app/.gitkeep

################################
#  Volumes
################################
/docker/volume/*
!/docker/volume/.gitkeep

################################
#  Environement Files
################################
/docker/sf_mysql.env
/docker/sf_mail.env
/docker/sf.env

################################
#  Mac Files
################################
.DS_Store

################################
#  Sublime Test Files
################################
*.sublime-project
*.sublime-workspace